.card-links {
  margin-top: 2em;
}

.card-links > button {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  border: none;
  background: transparent;
  color: var(--blue-color);
}

.card-links > :not(:first-child) {
  margin-left: 1em;
}

.card-container {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 2em auto;
  padding: 1.5em;
  height: 170px;
  border: 1px solid var(--grey-heading);
  border-radius: 4px;
  align-items: center;
}

.book-info > :not(:last-child) {
  margin: 0.3em 0 0 0;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #121212;
  opacity: 0.5;
}

.title {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.author {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 14px;
  color: #4386bf;
}

.progress-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 7em;
}

.progress-center {
  padding-right: 5em;
  display: flex;
  align-items: center;
}

svg {
  width: 8.8em;
}

svg circle {
  fill: none;
  stroke-width: 5;
  stroke: #000;
  transform: translate(5px, 5px) rotate(-90deg);
  stroke-dasharray: 214;
  stroke-dashoffset: 214;
  transform-origin: 50% 50%;
}

svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

svg circle:nth-child(2) {
  stroke-dashoffset: calc(214 - (214 * 64) / 100);
  stroke: var(--blue-color);
}

.progress-update {
  border-left: 2px solid #e8e8e8;
  padding-left: 3em;
}

.percent-completed {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.no-books {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding: 2em 22.2em;
  color: var(--blue-color);
}

.completed {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #121212;
  opacity: 0.5;
}

.progress-btn {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  background: var(--blue-color);
  color: white;
  font-size: 13px;
  border: none;
  padding: 0.7em 1.5em;
  border-radius: 3px;
}

.current-chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.6em;
  color: #121212;
  opacity: 0.5;
  font-size: 13px;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  color: #121212;
  margin-bottom: 1.5em;
}
